<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-secondary mr-3"
            routerLink="user"
            routerLinkActive="btn-outline-success"
            type="button">Add new reader</button>
    <button class="btn btn-outline-secondary mr-3"
            routerLinkActive="btn-outline-success"
            routerLink="book"
            type="button">Add new Book</button>
    <button class="btn btn-outline-secondary"
            routerLinkActive="btn-outline-success"
            routerLink="book-list"
            type="button">All books</button>
  </form>
</nav>
<router-outlet></router-outlet>
